# Data-Cleaning Code

# imports

In [ ]:
!pip install langdetect
!pip install -U textblob
!pip install -U textblob-fr
!python -m textblob.download_corpora

Requirement already satisfied: langdetect in /usr/local/lib/python3.7/dist-packages (1.0.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from langdetect) (1.15.0)
Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (1.15.0)
Requirement already satisfied: textblob-fr in /usr/local/lib/python3.7/dist-packages (0.2.0)
Requirement already satisfied: textblob>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from textblob-fr) (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob>=0.8.0->textblob-fr) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob>=0.8.0->textblob-fr) (1.15.0)
[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package conll2000 to /root/nltk_data...
[nltk_data]   Package conll2000 is already up-to-date!
[nltk_data] Downloading package movie_reviews to /root/nltk_data...
[nltk_data]   Package movie_reviews is already up-to-date!
Finished.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from langdetect import DetectorFactory, detect, detect_langs
from bs4 import BeautifulSoup
import re
import datetime as datetime
from textblob import TextBlob
from textblob_fr import PatternTagger, PatternAnalyzer

text = u"Quelle belle matin√©e"
blob = TextBlob(text, pos_tagger=PatternTagger(), analyzer=PatternAnalyzer())

In [ ]:
df = pd.read_csv('/content/Barkha_E2.csv')
df=df.set_axis([*df.columns[:-1], 'Reply'], axis=1, inplace=False)

In [ ]:
df.sample(5)

                Name  ... Reply
110  Kuruangha Yamii  ...    11
250      roopesh Raj  ...    11
307  Garima Parajuli  ...    11
37     Robin Lalwani  ...    12
134           Soumya  ...    11

[5 rows x 8 columns]

# preprocess

In [ ]:
df_copy = df.copy()
df_copy['Comment'] = [BeautifulSoup(text).get_text() for text in df_copy['Comment']]#remove HTML tags
df_copy['Comment'] = df_copy['Comment'].apply(lambda x: re.split(' "https:\/\/.*', str(x))[0])#remove HTTP

##### Clean data creation

In [ ]:


# lists for the data columns 
Name=[]
Comment=[]
Time=[]
Likes=[]
Reply=[]
Time=[]
# list for checking error in detect Library
done=[]
Notedone=[]
#loop for the new data
for i in range(len(df_copy)):
    try:
        if detect(df_copy['Comment'][i]) == 'en':
            Comment.append(df_copy['Comment'][i])
            done.append(i)#check
            #others appended
            Name.append(df_copy['Name'][i])
            Time.append(df_copy['Time'][i])
            Likes.append(df_copy['Likes'][i])
            Reply.append(df_copy['Reply'][i])
            Time.append(df_copy['Time'][i])
    except:
        Notedone.append(i)#check

In [ ]:
print(len(Name),len(Comment),len(Time),len(Likes),len(Reply))

531 531 1062 531 531

In [ ]:
print(len(Notedone),'text languages is not getting detected and gave and error')

0 text languages is not getting detected and gave and error

In [ ]:
df_cl = pd.DataFrame(list(zip(Name,Comment,Time,Likes,Reply)),columns =['Names','Comment','Time','Likes','Reply_count'])
#df_cl.to_csv('clean_data.csv',index=False)#save
#df_cl

In [ ]:
temp= pd.DataFrame(list(Comment),columns=['Comment'])
temp1= pd.DataFrame(list(Likes),columns=['Likes'])
temp2= pd.DataFrame(list(Name),columns=['Name'])
temp3= pd.DataFrame(list(Reply),columns=['Reply_Count'])
temp4 = pd.DataFrame(list(Time),columns=['Time'])

In [ ]:
temp['Comment'] = temp.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))

In [ ]:
#removing special characters from comments
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","‚Äì"]
for char in spec_chars:
    temp['Comment'] = temp['Comment'].str.replace(char, ' ')

In [ ]:
temp['Comment'] = temp['Comment'].str.split().str.join(" ")

In [ ]:
#removing emojis
temp2['Name'] = temp2.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))

In [ ]:
#removing special characters from name
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","‚Äì"]
for char in spec_chars:
    temp2['Name'] = temp2['Name'].str.replace(char, ' ')

### Concating data

In [ ]:
result = pd.concat([temp2, temp], axis=1, join='inner')

In [ ]:
result = pd.concat([result, temp1], axis=1, join='inner')

In [ ]:
result = pd.concat([result, temp3], axis=1, join='inner')

In [ ]:
result = pd.concat([result, temp4], axis=1, join='inner')

In [ ]:
from datetime import *

In [ ]:
#Extracting month, date and hour from time column
date = []
hour = []
month = []
for i in range(len(result)):
    d1 = datetime.fromisoformat(result['Time'][i][:-1])
    h = d1.strftime('%H')
    d = d1.strftime('%d')
    m = d1.strftime('%m')
    date.append(d)
    hour.append(h)
    month.append(m)

result['date']=date
result['hour']=hour
result['month']=month

In [ ]:
#lowering the strings
result['Comment'] = result['Comment'].str.lower()

In [ ]:
result.head()

                 Name  ... month
0          Dice Media  ...    11
1  Squad x 69 Esports  ...    11
2    Brainable Brains  ...    09
3            Atul Sen  ...    09
4          Sijal Soni  ...    09

[5 rows x 8 columns]

In [ ]:
result.to_csv('PFA S2 E6_cleaned.csv', index=False)

# Sentimental Scoring methods

# Importing libraries

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.stem.snowball import SnowballStemmer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [ ]:
#tokenizing the comments
df['Tokenize']= df['Comment'].apply(word_tokenize)

In [ ]:
#creating stem of comments
stemmer = SnowballStemmer("english")

In [ ]:
df['stemmed'] = df['Tokenize'].apply(lambda x: [stemmer.stem(y) for y in x])

In [ ]:
#Creating sentiment scores positive, negative, neutral and compound
analyzer = SentimentIntensityAnalyzer()
df['compound'] = [analyzer.polarity_scores(x)['compound'] for x in df['Comment']]
df['neg'] = [analyzer.polarity_scores(x)['neg'] for x in df['Comment']]
df['neu'] = [analyzer.polarity_scores(x)['neu'] for x in df['Comment']]
df['pos'] = [analyzer.polarity_scores(x)['pos'] for x in df['Comment']]

In [ ]:
#Calculating polarity and subjectivity
df[['polarity', 'subjectivity']] = df['Comment'].apply(lambda Text: pd.Series(TextBlob(Text).sentiment))

### Empath score

In [ ]:
!pip install empath

Requirement already satisfied: empath in /usr/local/lib/python3.7/dist-packages (0.89)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from empath) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->empath) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->empath) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->empath) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->empath) (2021.5.30)

In [ ]:
#function for creating dictionary
def returnSum(dict): 
    sum = 0
    for i in dict: 
        sum = sum + dict[i]  
    return sum

In [ ]:
#calculating empath score
from empath import Empath
lexicon = Empath()
l = []
m = []
for i in range(len(df)):
  lex= lexicon.analyze(df['Comment'][i], normalize=True)
  emp = empath=lexicon.analyze(df['Comment'][i], normalize=True)
  empath_score= returnSum(empath) 
  l.append(empath_score)

In [ ]:
l = pd.DataFrame(list(l))

In [ ]:
l.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       206 non-null    float64
dtypes: float64(1)
memory usage: 1.7 KB

In [ ]:
l.rename(columns = {0:'empath_score'}, inplace = True)

In [ ]:
df = pd.concat([df, l], axis=1, join='inner')
#display(df)

                    Name  ... empath_score
0             CR MOTIONS  ...     0.038462
1    Rishika Chakraborty  ...     0.500000
2            Aman Sharma  ...     0.375000
3             Abdul Moiz  ...     0.416667
4         usic Addiction  ...     0.480000
..                   ...  ...          ...
201      Avani Savadatti  ...     0.058824
202               Khushi  ...     0.200000
203       Bhabani Kalita  ...     1.000000
204           Palak Negi  ...     0.000000
205            its  aman  ...     0.055556

[206 rows x 17 columns]

In [ ]:
def maximum(a, b, c):
  
    if (a >= b) and (a >= c):
        largest = 'neg'
  
    elif (b >= a) and (b >= c):
        largest = 'neu'
    else:
        largest = 'pos'
          
    return largest

In [ ]:
l=[]
for i in range(len(result)):
    x=maximum(df['neg'][i],df['neu'][i],df['pos'][i])
    l.append(x)

df['sentiment_status']=l

In [ ]:
#Final dataset cleaned and scored
df.to_csv("Barkha E3 score.csv", index=False)